openapi: 3.0.0
info:
  title: 'Wizart Data Logistic API'
  contact:
    name: Nikolay Motaev
    email: nikolay.motaev@wizart.ai
    url: https://wizart.ai
  version: 2.1.0
  description: "We developed our API to help our clients to manage their data. The API use REST approach based on JSON format. In our developing we are going to standardise the API and our goal is full supporting JSON:API v1.1 specification. More details about the specification you can found here [JSON:API Specification](https://jsonapi.org/format/1.1/).\n\nTo support old version of the API we are using [semantic versioning 2.0.0](https://semver.org/)\n\n## Versions lifetime\n\n| **Version** | **Release** | **End of supporting** |\n| --- | --- | --- |\n| 2.0.* |  | 01.06.2021 |\n| 2.1.* | coming soon | \\--- |\n\n# API Authentication and Authorization\n\nWe support two types of authorization: OAuth 2.0 and token-based authorization. We use OAuth 2.0 for data manipulation where we need the best possible data protection. The token based authorization we use to get the data. You can found any token in your account in [PIM Admin](https://pim-admin.wizart.ai/configuration/web). See the detail instruction [here](https://wizart.atlassian.net/wiki/spaces/WDP/pages/1744994307/API+authentication+and+authorization).\n\nFor each of our methods, the type of authorization supported was marked.\n\n| **Authorization type** | **Description** |\n| --- | --- |\n| Bearer Token | The authorization method based on OAuth 2.0. We usually use this method to process data. |\n| Web Token | We use it for web integrations on the client's websites. |\n| Android Token | We use it for integrations from android apps. |\n| Ios Token | We use it for integrations from Ios apps. |\n| Direct Token | We use this token for our partners who wants to build their own services based on our API. |\n\n **Note:** It is very important to use the correct token as we are optimizing our responses for devices and some API methods may not be available for another tokens.\n\n# Checking import status\n\n **Information:** ‘**importId**’ is the ID of the import. You can get it using [Other API methods | Getting-all-imported-data](https://wizart.atlassian.net/wiki/spaces/WDP/pages/2176712714/Other+API+methods#Getting-all-imported-data), or you can check the name of your log file.\n\nYou can come across the following statuses/notifications:\n\n| **Status** | **Description** | **State** |\n| --- | --- | --- |\n| uploading_files | Upload the files that you’re sending to the PIM. | intermediate status, import in progress |\n| validating_csv | Make sure your CSV has all required fields completed, as well as no changes in the structure of the original CSV template. If you get an error at this stage, please check [File upload requirements \\[wall product types\\]](https://wizart.atlassian.net/wiki/spaces/WDP/pages/2199289857) or [File upload requirements \\[flooring\\]](https://wizart.atlassian.net/wiki/spaces/WDP/pages/2198208539/File+upload+requirements+flooring) . | intermediate status, import in progress |\n| unpacking_archive | Extract the uploaded images from the archive. | intermediate status, import in progress |\n| checking_images | Make sure your CSV is not missing any images from the ZIP archive. | intermediate, in progress |\n| waiting_queue | Waiting for free workers to start the import. | in progress |\n| importing_data | The import is in progress. | in progress |\n| success | You’ll get the ‘success’ notification if the import was finished without any errors and warnings, which means that all the products **have been successfully imported**. | import finished |\n| warning | You’ll get the ‘warning’ notification if the import was finished without any errors but with some warnings. Your CSV file might contain some non-critical errors, for example, incorrect value type. **Some** of the products **might not have been imported**. Please note that **the products whose records contain errors will be skipped**, but the import of the other products will be still in progress. | import finished |\n| failure | If you see the ‘failure’ notification, the import was finished with some errors. Usually, it is a server error. **All the products before this error occurred** will be **successfully imported** to the PIM, **the other products will have to be re-imported**. Please note that **the products with a fatal error will stop the import process**; however, the products imported before the error occurred will be successfully imported. | import finished |\n\n## Integration Documentation\n\n *   [API Authentication And Authorization](https://wizart.atlassian.net/l/c/KCbDaQrX)\n *   [Import](https://wizart.atlassian.net/l/c/8MPtY1aw)\n\n\n# Support\n\nYou can create a bug report and ask questions via our official [GitHub repository](https://github.com/wizart-tech/api).\n\n"
servers:
  -
    url: 'https://pim-client.wizart.ai/api/v2.1'
    description: 'PIM Endpoint'
paths:
  '/brand/{brandUuid}/visibility':
    patch:
      tags:
        - Brands
        - Visibility
      summary: 'Update the brand visibility.'
      description: "This method helps you to define which brands will be shown in the fitting room.\nAll collections of the brand will be inherit this parameter. You can use the special method for collections to determine their visibility individually.\n\n## Headers\n`Accept application/json`\n## Permissions\n`*`\n"
      operationId: patchBrandVisibility
      parameters:
        -
          $ref: '#/components/parameters/brandUuid'
      requestBody:
        description: 'Visibility object'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrandUpdateVisibilityRequest'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShortBrandResource'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResource'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResource'
        404:
          description: 'Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResource'
        500:
          description: 'Unexpected Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnexpectedErrorResource'
      security:
        -
          AuthBearer: []
      servers:
        -
          url: 'https://pim-client.wizart.ai/api/v2.1'
          description: 'PIM Endpoint'
  '/brands/{brandUuid}/':
    delete:
      tags:
        - Brands
      summary: 'Delete the brand.'
      description: "Delete the brand.\n## Headers\n`Accept application/json`\n## Permissions\n`Owner: delete the brand. If is a share, the sharing will be canceled.`\n\n`Consumer: The sharing will be canceled.`\n"
      operationId: deleteBrand
      parameters:
        -
          $ref: '#/components/parameters/brandUuid'
      requestBody:
        description: 'Brand Delete object'
        required: true
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/BrandDeleteRequest'
              type: object
      responses:
        200:
          description: Success
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResource'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResource'
        404:
          description: 'Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResource'
        500:
          description: 'Unexpected Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnexpectedErrorResource'
      security:
        -
          AuthBearer: []
      servers:
        -
          url: 'https://pim-client.wizart.ai/api/v2.1'
          description: 'PIM Endpoint'
    patch:
      tags:
        - Brands
      summary: 'Update the brand.'
      description: "Update the brand.\n## Headers\n`Accept application/json`\n## Permissions\n`The name attribute is only available to the owner.`\n"
      operationId: patchBrand
      parameters:
        -
          $ref: '#/components/parameters/brandUuid'
      requestBody:
        description: 'Brand Update object'
        required: true
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/BrandUpdateRequest'
              type: object
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShortBrandResource'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResource'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResource'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResource'
        404:
          description: 'Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResource'
        500:
          description: 'Unexpected Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnexpectedErrorResource'
      security:
        -
          AuthBearer: []
      servers:
        -
          url: 'https://pim-client.wizart.ai/api/v2.1'
          description: 'PIM Endpoint'
  /brands/:
    delete:
      tags:
        - Brands
      summary: 'Mass removal of brands.'
      description: "Mass removal of brands.\n## Headers\n`Accept application/json`\n## Permissions\n`Owner: delete the brand. If is a share, the sharing will be canceled.`\n\n`Consumer: The sharing will be canceled.`\n"
      operationId: deleteBulkBrand
      requestBody:
        description: 'Bulk Brand Delete object'
        required: true
        content:
          application/json:
            schema:
              properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/BrandDeleteRequest'
              type: object
      responses:
        200:
          description: Success
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResource'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResource'
        404:
          description: 'Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResource'
        500:
          description: 'Unexpected Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnexpectedErrorResource'
      security:
        -
          AuthBearer: []
      servers:
        -
          url: 'https://pim-client.wizart.ai/api/v2.1'
          description: 'PIM Endpoint'
    patch:
      tags:
        - Brands
      summary: 'Mass update of brands.'
      description: "Mass update of brands.\n## Headers\n`Accept application/json`\n## Permissions\n`The name attribute is only available to the owner.`\n"
      operationId: patchBulkBrand
      requestBody:
        description: 'Bulk Brand Update object'
        required: true
        content:
          application/json:
            schema:
              properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/BrandUpdateRequest'
              type: object
      responses:
        200:
          description: Success
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResource'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResource'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResource'
        404:
          description: 'Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResource'
        500:
          description: 'Unexpected Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnexpectedErrorResource'
      security:
        -
          AuthBearer: []
      servers:
        -
          url: 'https://pim-client.wizart.ai/api/v2.1'
          description: 'PIM Endpoint'

  '/collection/{collectionUuid}/visibility':
    patch:
      tags:
        - Collections
        - Visibility
      summary: 'Update the collection visibility.'
      description: "This method helps you to define which collection will be shown in the fitting room.\nAll products of the collection will be inherit this parameter. You can use the special method for products to determine their visibility individually.\n\n## Headers\n`Accept application/json`\n## Permissions\n`*`\n"
      operationId: patchCollectionVisibility
      parameters:
        -
          $ref: '#/components/parameters/collectionUuid'
      requestBody:
        description: 'Visibility object'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectionUpdateVisibilityRequest'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShortCollectionResource'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResource'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResource'
        404:
          description: 'Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResource'
        500:
          description: 'Unexpected Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnexpectedErrorResource'
      security:
        -
          AuthBearer: []
      servers:
        -
          url: 'https://pim-client.wizart.ai/api/v2.1'
          description: 'PIM Endpoint'
  '/collections/{collectionUuid}/':
    delete:
      tags:
        - Collections
      summary: 'Delete the collection.'
      description: "Delete the collection.\n## Headers\n`Accept application/json`\n## Permissions\n`Owner: delete the collection. If is a share, the sharing will be canceled.`\n\n`Consumer: The sharing will be canceled.`\n"
      operationId: deleteCollection
      parameters:
        -
          $ref: '#/components/parameters/collectionUuid'
      requestBody:
        description: 'Collection Delete object'
        required: true
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/CollectionDeleteRequest'
              type: object
      responses:
        200:
          description: Success
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResource'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResource'
        404:
          description: 'Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResource'
        500:
          description: 'Unexpected Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnexpectedErrorResource'
      security:
        -
          AuthBearer: []
      servers:
        -
          url: 'https://pim-client.wizart.ai/api/v2.1'
          description: 'PIM Endpoint'
    patch:
      tags:
        - Collections
      summary: 'Update the collection.'
      description: "Update the collection.\n## Headers\n`Accept application/json`\n## Permissions\n`The name attribute is only available to the owner.`\n"
      operationId: patchCollection
      parameters:
        -
          $ref: '#/components/parameters/collectionUuid'
      requestBody:
        description: 'Collection Update object'
        required: true
        content:
          application/json:
            schema:
              properties:
                data:
                  $ref: '#/components/schemas/CollectionUpdateRequest'
              type: object
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShortCollectionResource'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResource'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResource'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResource'
        404:
          description: 'Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResource'
        500:
          description: 'Unexpected Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnexpectedErrorResource'
      security:
        -
          AuthBearer: []
      servers:
        -
          url: 'https://pim-client.wizart.ai/api/v2.1'
          description: 'PIM Endpoint'
  /collections/:
    delete:
      tags:
        - Collections
      summary: 'Mass removal of collectios.'
      description: "Mass removal of collections.\n## Headers\n`Accept application/json`\n## Permissions\n`Owner: delete the collection. If is a share, the sharing will be canceled.`\n\n`Consumer: The sharing will be canceled.`\n"
      operationId: deleteBulkCollection
      requestBody:
        description: 'Bulk Collection Delete object'
        required: true
        content:
          application/json:
            schema:
              properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/CollectionDeleteRequest'
              type: object
      responses:
        200:
          description: Success
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResource'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResource'
        404:
          description: 'Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResource'
        500:
          description: 'Unexpected Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnexpectedErrorResource'
      security:
        -
          AuthBearer: []
      servers:
        -
          url: 'https://pim-client.wizart.ai/api/v2.1'
          description: 'PIM Endpoint'
    patch:
      tags:
        - Collections
      summary: 'Mass update of collections.'
      description: "Mass update of collections.\n## Headers\n`Accept application/json`\n## Permissions\n`The name attribute is only available to the owner.`\n"
      operationId: patchBulkCollection
      requestBody:
        description: 'Bulk Collection Update object'
        required: true
        content:
          application/json:
            schema:
              properties:
                data:
                  type: array
                  items:
                    $ref: '#/components/schemas/CollectionUpdateRequest'
              type: object
      responses:
        200:
          description: Success
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResource'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResource'
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenResource'
        404:
          description: 'Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResource'
        500:
          description: 'Unexpected Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnexpectedErrorResource'
      security:
        -
          AuthBearer: []
      servers:
        -
          url: 'https://pim-client.wizart.ai/api/v2.1'
          description: 'PIM Endpoint'

  '/collection/{collectionUuid}/product/{productUuid}/visibility':
    patch:
      tags:
        - Products
        - Visibility
      summary: 'Update product visibility by collection'
      description: "This method helps you to define which products will be shown in the fitting room.\n\n## Headers\n`Accept application/json`\n## Permissions\n`*`\n"
      operationId: patchProductVisibility
      parameters:
        -
          $ref: '#/components/parameters/collectionUuid'
        -
          $ref: '#/components/parameters/productUuid'
      requestBody:
        description: 'Visibility object'
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductUpdateVisibilityRequest'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShortProductResource'
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResource'
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthorizedResource'
        404:
          description: 'Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResource'
        500:
          description: 'Unexpected Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnexpectedErrorResource'
      security:
        -
          AuthBearer: []
      servers:
        -
          url: 'https://pim-client.wizart.ai/api/v2.1'
          description: 'PIM Endpoint'

  /import/product-types:
    get:
      tags:
        - 'Product Types'
        - Imports
      summary: 'API method to obtain product types.'
      description: "\nProduct type is important part of our system.
        Each product type has different properties and limitations.
        \n
        \n## Headers
        \n
        \n`Accept: application/json`
        \n
        \n## Permissions
        \n
        \n`*`
        \n"
      operationId: getProductTypes
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductTypeSmallResource'
                type: object
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResource'
        401:
          description: 'Unauthenticated'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthenticatedResource'
        500:
          description: 'Unexpected Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnexpectedErrorResource'
      security:
        -
          AuthBearer: []
      servers:
        -
          url: 'https://pim-client.wizart.ai/api/v2.1'
          description: 'PIM Endpoint'
  '/data-mappings/default/{productTypeCode}':
    get:
      tags:
        - 'Data Mappings'
        - 'Imports'
      summary: 'Download default data-mapping csv file by a product type.'
      description: "This method return a csv file with default fields.\n## Headers\n`Accept: text/csv`\n## Permissions\n`*`\n"
      operationId: getDefaultDataMapping
      parameters:
        - $ref: '#/components/parameters/productTypeCode'
      responses:
        200:
          description: Success
          content:
            text/csv:
              schema:
                type: string
                format: binary
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResource'
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthenticatedResource'
        500:
          description: 'Unexpected Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnexpectedErrorResource'
      security:
        - AuthBearer: [ ]
      servers:
        - url: 'https://pim-client.wizart.ai/api/v2.1'
          description: 'PIM Endpoint'
  '/product-type/{productTypeCode}/import':
    post:
      externalDocs:
        url: https://wizart.atlassian.net/wiki/spaces/WDP/pages/1236041763/Data+import+via+API
      tags:
        - Imports
      summary: 'Begin an async import process by a product type.'
      description: "Import new products. You have to use this method to send two files, namely **your_product.csv** and archive (**archive_name.zip**) with the corresponding images (product patterns). Please check our file [upload requirements](https://wizart.atlassian.net/wiki/spaces/WDP/pages/49545288/File+upload+requirements).\n\n### Note: the import works asynchronously. The method called 'Checking import status' helps you to understand the import is progressing. \n## Headers\n`Accept: application/json`\n## Permissions\n`*`\n"
      operationId: startImportByProductType
      parameters:
        - $ref: '#/components/parameters/productTypeCode'
      requestBody:
        description: 'Import data'
        required: true
        content:
          multipart/form-data:
            schema:
              properties:
                data:
                  description: 'CSV file with mapping fields'
                  type: string
                  format: binary
                archive:
                  description: 'ZIP archive with images'
                  type: string
                  format: binary
              type: object
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/ImportDataResource'
                type: object
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResource'
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthenticatedResource'
        404:
          description: 'Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResource'
        500:
          description: 'Unexpected Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnexpectedErrorResource'
      security:
        - AuthBearer: [ ]
      servers:
        - url: 'https://pim-client.wizart.ai/api/v2.1'
          description: 'PIM Endpoint'
  /imports/last:
    get:
      tags:
        - Imports
        - 'Checking Import'
      summary: 'Get the last import information.'
      description: "This method return information about the last import. This method useful to check information\n about the last import progress.\n## Headers\n`Accept: application/json`\n## Permissions\n`*`\n"
      operationId: getLastImport
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/ImportDataResource'
                type: object
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResource'
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthenticatedResource'
        404:
          description: 'Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResource'
        500:
          description: 'Unexpected Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnexpectedErrorResource'
      security:
        - AuthBearer: [ ]
      servers:
        - url: 'https://pim-client.wizart.ai/api/v2.1'
          description: 'PIM Endpoint'
  /imports:
    get:
      tags:
        - Imports
        - 'Checking Import'
      summary: 'Get imports list.'
      description: "This method returns list of imports.\n## Headers\n`Accept: application/json`\n## Permissions\n`*`\n"
      operationId: getImportList
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ImportDataResource'
                type: object
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResource'
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthenticatedResource'
        404:
          description: 'Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResource'
        500:
          description: 'Unexpected Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnexpectedErrorResource'
      security:
        - AuthBearer: [ ]
      servers:
        - url: 'https://pim-client.wizart.ai/api/v2.1'
          description: 'PIM Endpoint'
  '/imports/{importId}':
    get:
      tags:
        - Imports
        - 'Checking Import'
      summary: 'Get specific import by Id'
      description: "This method return information by import ID or downloaded log file.\n## Headers\n`Accept: application/json`\n`Accept: application/zip`\n## Permissions\n`*`\n"
      operationId: getImportById
      parameters:
        -
          $ref: '#/components/parameters/importId'
      responses:
        200:
          description: Success
          content:
            application/zip:
              schema:
                $ref: '#/components/schemas/ZipObject'
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/ImportDataResource'
                type: object
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResource'
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthenticatedResource'
        404:
          description: 'Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResource'
        500:
          description: 'Unexpected Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnexpectedErrorResource'
      security:
        -
          AuthBearer: []
      servers:
        -
          url: 'https://pim-client.wizart.ai/api/v2.1'
          description: 'PIM Endpoint'
    delete:
      tags:
        - Imports
        - 'Checking Import'
      summary: 'Delete specific import by Id'
      description: "Delete specific import by Id.\n## Headers\n`Accept: application/json`\n## Permissions\n`*`\n"
      operationId: deleteImportById
      parameters:
        -
          $ref: '#/components/parameters/importId'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  message:
                    type: string
                    example: success
                type: object
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResource'
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthenticatedResource'
        404:
          description: 'Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResource'
        500:
          description: 'Unexpected Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnexpectedErrorResource'
      security:
        -
          AuthBearer: []
      servers:
        -
          url: 'https://pim-client.wizart.ai/api/v2.1'
          description: 'PIM Endpoint'

  '/imports/product-type/{productTypeCode}':
    get:
      tags:
        - Imports
      summary: 'Get imports list by product type.'
      description: "This method returns list of imports by product type.\n## Headers\n`Accept: application/json`\n## Permissions\n`*`\n        "
      operationId: getImportsByProductType
      parameters:
        -
          $ref: '#/components/parameters/productTypeCode'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ImportDataResource'
                  included:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductTypeObject'
                  links:
                    $ref: '#/components/schemas/LinksResource'
                  meta:
                    $ref: '#/components/schemas/MetaResource'
                type: object
        400:
          description: 'Bad Request'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequestResource'
        401:
          description: Unauthenticated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnauthenticatedResource'
        404:
          description: 'Not Found'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResource'
        500:
          description: 'Unexpected Error'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnexpectedErrorResource'
      security:
        -
          AuthBearer: []
      servers:
        -
          url: 'https://pim-client.wizart.ai/api/v2.1'
          description: 'PIM Endpoint'

components:
  schemas:
    BadRequestObject:
      title: 'Bad Request Object'
      description: 'Bad Request Object'
      required:
        - 'id, status, title, detail'
      properties:
        id:
          title: id
          description: 'A unique identifier for this particular occurrence of the problem'
          type: string
          format: string
          maxLength: 36
          minLength: 36
          example: e27fec1a-9305-4bf7-b3a6-d5e05a3621df
        status:
          title: status
          description: 'The HTTP status code applicable to this problem, expressed as a string value.'
          type: string
          format: string
          example: '400'
        title:
          title: title
          description: 'A short, human-readable summary of the problem.'
          type: string
          format: string
          example: 'Bad Request.'
        detail:
          title: detail
          description: 'A human-readable explanation specific to this occurrence of the problem. Like title, this field’s value can be localized.'
          type: string
          format: string
          example: 'Bad Request.'
      type: object
    BrandDeleteRequest:
      title: 'Brand Delete Request'
      description: 'Brand Delete Request'
      required:
        - 'type, uuid, attributes'
      properties:
        type:
          title: type
          description: 'Type of resource'
          type: string
          format: string
          example: brands
        id:
          title: id
          description: 'ID of resource'
          type: string
          format: string
          maxLength: 36
          minLength: 36
          example: e27fec1a-9305-4bf7-b3a6-d5e05a3621df
      type: object
    BrandObject:
      title: 'Brand Object'
      description: 'Brand Object'
      required:
        - 'type, uuid'
      properties:
        type:
          title: type
          description: 'Type of resource'
          type: string
          format: string
          example: brands
        id:
          title: id
          description: 'ID of resource'
          type: string
          format: string
          maxLength: 36
          minLength: 36
          example: e27fec1a-9305-4bf7-b3a6-d5e05a3621df
        attributes:
          title: attributes
          description: 'Brand''s attributes'
          properties:
            name:
              title: name
              description: 'New name of the brand'
              type: string
              format: string
          type: object
          format: object
      type: object
    BrandResource:
      title: 'Brand Resource'
      description: 'Brand Resource'
      properties:
        type:
          title: type
          description: 'Resource Type'
          type: string
          example: brands
        id:
          title: string
          description: 'Resource ID'
          type: string
          example: id
        attributes:
          title: attributes
          description: Attributes
          properties:
            key:
              title: key
              description: Attributes
              type: string
              example: value
          type: object
      type: object
    BrandUpdateRequest:
      title: 'Brand Update Request'
      description: 'Brand Update Request'
      required:
        - 'type, uuid, attributes'
      properties:
        type:
          title: type
          description: 'Type of resource'
          type: string
          format: string
          example: brands
        id:
          title: id
          description: 'ID of resource'
          type: string
          format: string
          maxLength: 36
          minLength: 36
          example: e27fec1a-9305-4bf7-b3a6-d5e05a3621df
        attributes:
          title: attributes
          description: 'Brand''s attributes'
          properties:
            name:
              title: name
              description: 'Brand name'
              type: string
              format: string
            is_visible:
              title: is_visible
              description: 'Is Visible state'
              type: boolean
              format: string
            order:
              title: order
              description: 'New order position'
              type: number
              format: string
          type: object
          format: object
      type: object
    CollectionObject:
      title: 'Collection Object'
      description: 'Collection Object'
      required:
        - 'type, uuid'
      properties:
        type:
          title: type
          description: 'Type of resource'
          type: string
          format: string
          example: collections
        id:
          title: id
          description: 'ID of resource'
          type: string
          format: string
          maxLength: 36
          minLength: 36
          example: e27fec1a-9305-4bf7-b3a6-d5e05a3621df
        attributes:
          title: attributes
          description: 'Collection''s attributes'
          properties:
            name:
              title: name
              description: 'New name of the collection'
              type: string
              format: string
          type: string
          format: object
      type: object
    CollectionProduct:
      title: 'Collection Product'
      description: 'Collection Product Request object'
      required:
        - type
        - id
      properties:
        id:
          title: id
          description: 'Product UUID'
          type: string
          format: string
          maxLength: 36
          minLength: 36
          example: e27fec1a-9305-4bf7-b3a6-d5e05a3621df
        type:
          title: type
          description: 'Resource Type'
          type: string
          format: string
          example: product
      type: object
    CustomerSubscriptionUpdate:
      title: 'Customer Subscription Update Resource'
      description: 'Customer Subscription Update Resource'
      properties:
        subscription_uuid:
          title: uuid
          description: 'identifire of the subscription'
          type: string
          format: string
          maxLength: 36
          minLength: 36
          example: e27fec1a-9305-4bf7-b3a6-d5e05a3621df
        products_limit:
          description: 'Products limit'
          type: integer
          format: int32
          example: '1000'
        renders_limit:
          description: 'Renders limit'
          type: integer
          format: int32
          example: '1000'
        end_date:
          description: 'End Date'
          type: string
          format: date
      type: object
    ErrorObject:
      title: 'Error Object'
      description: 'Error Object'
      required:
        - 'id, status, title, detail'
      properties:
        id:
          title: id
          description: 'A unique identifier for this particular occurrence of the problem'
          type: string
          format: string
          maxLength: 36
          minLength: 36
          example: e27fec1a-9305-4bf7-b3a6-d5e05a3621df
        status:
          title: status
          description: 'The HTTP status code applicable to this problem, expressed as a string value.'
          type: string
          format: string
          example: '500'
        title:
          title: title
          description: 'A short, human-readable summary of the problem.'
          type: string
          format: string
          example: 'Server error.'
        detail:
          title: detail
          description: 'A human-readable explanation specific to this occurrence of the problem. Like title, this field’s value can be localized.'
          type: string
          format: string
          example: 'Server error.'
      type: object
    ForbiddenObject:
      title: 'Forbidden Object'
      description: 'Forbidden Object'
      required:
        - 'id, status, title, detail'
      properties:
        id:
          title: id
          description: 'A unique identifier for this particular occurrence of the problem'
          type: string
          format: string
          maxLength: 36
          minLength: 36
          example: e27fec1a-9305-4bf7-b3a6-d5e05a3621df
        status:
          title: status
          description: 'The HTTP status code applicable to this problem, expressed as a string value.'
          type: string
          format: string
          example: '403'
        title:
          title: title
          description: 'A short, human-readable summary of the problem.'
          type: string
          format: string
          example: 'This action is unauthorized.'
        detail:
          title: detail
          description: 'A human-readable explanation specific to this occurrence of the problem. Like title, this field’s value can be localized.'
          type: string
          format: string
          example: 'This action is unauthorized.'
      type: object
    IncludedResource:
      title: 'Included Resource'
      description: 'Included Resource'
      properties:
        type:
          title: type
          description: 'Resource Type'
          type: string
          example: type
        id:
          title: string
          description: 'Resource ID'
          type: string
          example: id
        attributes:
          title: attributes
          description: Attributes
          properties:
            key:
              type: string
              example: value
          type: object
      type: object
    InteractiveAssets1Object:
      title: 'Shadows map Assets Object'
      description: 'Interactive Assets Object (Shadows map)'
      required:
        - 'type, id, attributes'
      properties:
        type:
          title: type
          description: 'Type of the resource'
          type: string
          format: string
          example: assets_1
        id:
          title: id
          description: 'ID of the resource'
          type: string
          format: string
          example: 0fe7bafc663b7ae469be1ecf3b926c9c
        attributes:
          description: Attributes
          properties:
            iv:
              title: iv
              description: 'IV of the resource'
              type: string
              format: string
              example: string
            image_data:
              title: image_data
              description: 'Image Data of the resource'
              type: string
              format: string
              example: string
          type: object
      type: object
    InteractiveAssets2Object:
      title: 'Masck Asset Object'
      description: 'Interactive Assets Object (Mask of room)'
      required:
        - 'type, id, attributes'
      properties:
        type:
          title: type
          description: 'Type of the resource'
          type: string
          format: string
          example: assets_2
        id:
          title: id
          description: 'ID of the resource'
          type: string
          format: string
          example: 0fe7bafc663b7ae469be1ecf3b926c9c
        attributes:
          description: Attributes
          properties:
            iv:
              title: iv
              description: 'IV of the resource'
              type: string
              format: string
              example: string
            image_data:
              title: image_data
              description: 'Image Data of the resource'
              type: string
              format: string
              example: string
          type: object
      type: object
    InteractiveFloorsObject:
      title: 'Interactive Floors Object'
      description: 'Interactive Floors Object'
      required:
        - 'type, id, attributes'
      properties:
        type:
          title: type
          description: 'Type of the resource'
          type: string
          format: string
          example: floors
        id:
          title: id
          description: 'ID of the resource'
          type: string
          format: string
          example: '0'
        attributes:
          description: Attributes
          properties:
            x:
              title: x
              description: X
              type: number
              example: 64.666962623596
            'y':
              title: 'y'
              description: 'Y'
              type: number
              example: 81.785773448187
          type: object
      type: object
    InteractiveMetaObject:
      title: 'Interactive Meta Object'
      description: 'Interactive Meta Object'
      required:
        - 'type, id, attributes'
      properties:
        type:
          title: type
          description: 'Type of the resource'
          type: string
          format: string
          example: meta
        id:
          title: id
          description: 'ID of the resource'
          type: string
          format: string
          example: 0fe7bafc663b7ae469be1ecf3b926c9c
        attributes:
          description: Attributes
          properties:
            version:
              title: iv
              description: 'Version of the interior resource'
              type: number
              example: 1.1
            FoV:
              title: FoV
              description: FoV
              type: number
              example: 55
            key_plane_distance:
              title: key_plane_distance
              description: key_plane_distance
              type: number
              example: 0.8
            euler_x:
              title: euler_x
              description: euler_x
              type: number
              example: 0
            euler_y:
              title: euler_y
              description: euler_y
              type: number
              example: 0
            euler_z:
              title: euler_z
              description: euler_z
              type: number
              example: 0
          type: object
      type: object
    InteractiveOriginalImageObject:
      title: 'Original Image Object'
      description: 'Interactive Original Image Object'
      required:
        - 'type, id, attributes'
      properties:
        type:
          title: type
          description: 'Type of the resource'
          type: string
          format: string
          example: original_image
        id:
          title: id
          description: 'ID of the resource'
          type: string
          format: string
          example: 0fe7bafc663b7ae469be1ecf3b926c9c
        attributes:
          description: Attributes
          properties:
            iv:
              title: iv
              description: 'IV of the resource'
              type: string
              format: string
              example: string
            image_data:
              title: image_data
              description: 'Image Data of the resource'
              type: string
              format: string
              example: string
          type: object
      type: object
    InteractiveWallsObject:
      title: 'Interactive Walls Object'
      description: 'Interactive Walls Object'
      required:
        - 'type, id, attributes'
      properties:
        type:
          title: type
          description: 'Type of the resource'
          type: string
          format: string
          example: walls
        id:
          title: id
          description: 'ID of the resource'
          type: string
          format: string
          example: '0'
        attributes:
          description: Attributes
          properties:
            x:
              title: x
              description: X
              type: number
              example: 64.666962623596
            'y':
              title: 'y'
              description: 'Y'
              type: number
              example: 81.785773448187
          type: object
      type: object
    LinksResource:
      title: 'Links Resource'
      description: 'Links Resource'
      properties:
        first:
          type: string
          example: 'http://localhost:8051/api/v2.1/imports/product-type/wallpaper?page=1'
        last:
          type: string
          example: 'http://localhost:8051/api/v2.1/imports/product-type/wallpaper?page=27'
        prev:
          type: string
          example: 'null'
        next:
          type: string
          example: 'http://localhost:8051/api/v2.1/imports/product-type/wallpaper?page=2'
      type: object
    MetaResource:
      title: 'Meta Resource'
      description: 'Meta Resource'
      properties:
        current_page:
          type: number
          example: '1'
        from:
          type: number
          example: '1'
        last_page:
          type: number
          example: '27'
        links:
          type: array
          items:
            properties:
              url:
                type: string
                example: 'http://localhost:8051/api/v2.1/imports/product-type/wallpaper?page=1'
              label:
                type: number
                example: '1'
              active:
                type: boolean
                example: 'true'
            type: object
        per_page:
          type: number
          example: '20'
        to:
          type: number
          example: '20'
        total:
          type: number
          example: '537'
      type: object
    ModelResource:
      title: 'Model Resource'
      description: 'Model Resource'
      properties:
        type:
          title: type
          description: 'Resource Type'
          type: string
          example: type
        id:
          title: string
          description: 'Resource ID'
          type: string
          example: id
        attributes:
          title: attributes
          description: Attributes
          properties:
            key:
              title: key
              description: Attributes
              type: string
              example: value
          type: object
        relationships:
          $ref: '#/components/schemas/RelationshipsResource'
      type: object
    NotFoundObject:
      title: 'Not Found Object'
      description: 'Not Found Object'
      required:
        - 'id, status, title, detail'
      properties:
        id:
          title: id
          description: 'A unique identifier for this particular occurrence of the problem'
          type: string
          format: string
          maxLength: 36
          minLength: 36
          example: e27fec1a-9305-4bf7-b3a6-d5e05a3621df
        status:
          title: status
          description: 'The HTTP status code applicable to this problem, expressed as a string value.'
          type: string
          format: string
          example: '404'
        title:
          title: title
          description: 'A short, human-readable summary of the problem.'
          type: string
          format: string
          example: 'Model not found.'
        detail:
          title: detail
          description: 'A human-readable explanation specific to this occurrence of the problem. Like title, this field’s value can be localized.'
          type: string
          format: string
          example: 'Model not found.'
      type: object
    Product:
      title: Product
      description: 'Product Request object'
      required:
        - type
        - vendor_code
      properties:
        type:
          title: type
          description: 'Resource Type'
          type: string
          format: string
          example: product
        vendor_code:
          title: vendor_code
          description: 'Vendor code'
          format: string
          example: product-U1
      type: object
    ProductTypeObject:
      title: 'Product Type Object'
      description: 'Product Type Object'
      required:
        - 'type, uuid'
      properties:
        type:
          title: type
          description: 'Type of resource'
          type: string
          format: string
          example: product_types
        id:
          title: id
          description: 'ID of resource'
          type: string
          format: string
          maxLength: 36
          minLength: 36
          example: e27fec1a-9305-4bf7-b3a6-d5e05a3621df
        attributes:
          title: attributes
          description: 'Product Type''s attributes'
          properties:
            code:
              title: code
              description: 'Product Type Code'
              type: string
              format: string
              example: Rug
          type: string
          format: object
      type: object
    RelationshipsResource:
      title: 'Relationships Resource'
      description: 'Relationships Resource'
      properties:
        type:
          title: type
          description: 'Resource Type'
          properties:
            data:
              title: data
              description: Data
              type: array
              items:
                properties:
                  type:
                    type: string
                    example: type
                  id:
                    type: string
                    example: id
                type: object
          type: object
      type: object
    TariffPlanStatusUpdate:
      title: 'Tariff Plan Status Update Resource'
      description: 'Tariff Plan Status Update Resource'
      properties:
        type:
          title: type
          description: 'Resource Type'
          type: string
          example: tariff_plan_statuses
        id:
          title: string
          description: 'Resource ID'
          type: string
          example: license
      type: object
    UnauthenticatedObject:
      title: 'Unauthenticated Object'
      description: 'Unauthenticated Object'
      required:
        - 'id, status, title, detail'
      properties:
        id:
          title: id
          description: 'A unique identifier for this particular occurrence of the problem'
          type: string
          format: string
          maxLength: 36
          minLength: 36
          example: e27fec1a-9305-4bf7-b3a6-d5e05a3621df
        status:
          title: status
          description: 'The HTTP status code applicable to this problem, expressed as a string value.'
          type: string
          format: string
          example: '401'
        title:
          title: title
          description: 'A short, human-readable summary of the problem.'
          type: string
          format: string
          example: Unauthenticated.
        detail:
          title: detail
          description: 'A human-readable explanation specific to this occurrence of the problem. Like title, this field’s value can be localized.'
          type: string
          format: string
          example: Unauthenticated.
      type: object
    UnauthorizedObject:
      title: 'Unathorized Object'
      description: 'Unathorized Object'
      required:
        - 'id, status, title, detail'
      properties:
        id:
          title: id
          description: 'A unique identifier for this particular occurrence of the problem'
          type: string
          format: string
          maxLength: 36
          minLength: 36
          example: e27fec1a-9305-4bf7-b3a6-d5e05a3621df
        status:
          title: status
          description: 'The HTTP status code applicable to this problem, expressed as a string value.'
          type: string
          format: string
          example: '403'
        title:
          title: title
          description: 'A short, human-readable summary of the problem.'
          type: string
          format: string
          example: Unathorized.
        detail:
          title: detail
          description: 'A human-readable explanation specific to this occurrence of the problem. Like title, this field’s value can be localized.'
          type: string
          format: string
          example: Unathorized.
      type: object
    ValidationErrorObject:
      title: 'Validation Error Object'
      description: 'Validation Error Object'
      required:
        - 'id, status, title, detail'
      properties:
        id:
          title: id
          description: 'A unique identifier for this particular occurrence of the problem'
          type: string
          format: string
          maxLength: 36
          minLength: 36
          example: e27fec1a-9305-4bf7-b3a6-d5e05a3621df
        status:
          title: status
          description: 'The HTTP status code applicable to this problem, expressed as a string value.'
          type: string
          format: string
          example: '422'
        title:
          title: title
          description: 'A short, human-readable summary of the problem.'
          type: string
          format: string
          example: 'The name is required.'
        detail:
          title: detail
          description: 'A human-readable explanation specific to this occurrence of the problem. Like title, this field’s value can be localized.'
          type: string
          format: string
          example: 'The name is required.'
        source:
          title: source
          description: 'An object containing references to the primary source of the error.'
          properties:
            parameter:
              title: detail
              description: 'A string indicating which parameter caused the error.'
              type: string
              format: string
              example: name
          type: object
      type: object
    VisibilityObject:
      title: 'Visibility Object'
      description: 'Visibility Object'
      required:
        - is_visible
      properties:
        is_visible:
          title: is_visible
          description: 'Visibility flag'
          type: boolean
          format: boolean
          example: 'true'
      type: object
    ZipObject:
      title: 'Zip Object'
      description: 'Zip Object'
      type: string
      format: binary
    BrandUpdateVisibilityRequest:
      title: 'Brand Visibility Object'
      description: 'Brand Visibility Object'
      properties:
        data:
          description: 'Brand Update Visibility Request'
          properties:
            id:
              title: id
              description: 'Brand unique identifier'
              type: string
              format: string
              example: e27fec1a-9305-4bf7-b3a6-d5e05a3621df
            type:
              title: type
              description: 'Brand type'
              type: string
              format: string
              example: brands
            attributes:
              title: attributes
              description: 'Request Attributes'
              properties:
                is_visible:
                  title: is_visible
                  description: 'Visibility flag'
                  type: boolean
                  format: boolean
                  example: 'true'
              type: object
          type: object
      type: object
    CollectionDeleteRequest:
      title: 'Collection Delete Request'
      description: 'Collection Delete Request'
      required:
        - 'type, uuid'
      properties:
        type:
          title: type
          description: 'Type of resource'
          type: string
          format: string
          example: collections
        id:
          title: id
          description: 'ID of resource'
          type: string
          format: string
          maxLength: 36
          minLength: 36
          example: e27fec1a-9305-4bf7-b3a6-d5e05a3621df
      type: object
    CollectionUpdateRequest:
      title: 'Collection Update Request'
      description: 'Collection Update Request'
      required:
        - 'type, uuid, attributes'
      properties:
        type:
          title: type
          description: 'Type of resource'
          type: string
          format: string
          example: collections
        id:
          title: id
          description: 'ID of resource'
          type: string
          format: string
          maxLength: 36
          minLength: 36
          example: e27fec1a-9305-4bf7-b3a6-d5e05a3621df
        attributes:
          title: attributes
          description: 'Collection''s attributes'
          properties:
            name:
              title: name
              description: 'Collection name'
              type: string
              format: string
            is_visible:
              title: is_visible
              description: 'Is Visible state'
              type: boolean
              format: string
            order:
              title: order
              description: 'New order position'
              type: number
              format: string
          type: object
          format: object
      type: object
    CollectionUpdateVisibilityRequest:
      title: 'Collection Visibility Object'
      description: 'Collection Visibility Object'
      properties:
        data:
          description: 'Update Visibility Request'
          properties:
            id:
              title: id
              description: 'Collection unique identifier'
              type: string
              format: string
              example: e27fec1a-9305-4bf7-b3a6-d5e05a3621df
            type:
              title: type
              description: 'Collection type'
              type: string
              format: string
              example: collections
            attributes:
              title: attributes
              description: 'Request Attributes'
              properties:
                is_visible:
                  title: is_visible
                  description: 'Visibility flag'
                  type: boolean
                  format: boolean
                  example: 'true'
              type: object
          type: object
      type: object
    ProductUpdateVisibilityRequest:
      title: 'Product Visibility Object'
      description: 'Product Visibility Object'
      properties:
        data:
          description: 'Product Update Visibility Request'
          properties:
            id:
              title: id
              description: 'Product unique identifier'
              type: string
              format: string
              example: e27fec1a-9305-4bf7-b3a6-d5e05a3621df
            type:
              title: type
              description: 'Product type'
              type: string
              format: string
              example: products
            attributes:
              title: attributes
              description: 'Request Attributes'
              properties:
                is_visible:
                  title: is_visible
                  description: 'Visibility flag'
                  type: boolean
                  format: boolean
                  example: 'true'
              type: object
          type: object
      type: object
    AcceptedResource:
      title: Accepted
      description: 'Accepted Response'
      properties:
        message:
          title: message
          description: 'result message'
          type: string
          format: string
          example: ok
      type: object
    BadRequestResource:
      title: 'Bad Request'
      description: 'Bad Request Response'
      properties:
        errors:
          description: Errors
          type: array
          items:
            $ref: '#/components/schemas/BadRequestObject'
      type: object
    ClientStatusResource:
      title: 'Status Resource'
      description: 'Status Resource'
      properties:
        type:
          title: type
          description: 'Name of resource'
          type: string
          format: string
          example: statuses
        id:
          title: id
          description: 'identifire of the status'
          type: string
          format: string
          example: active
        attributes:
          description: 'Attributes of the status'
          properties:
            name:
              description: 'Status name'
              type: string
              format: string
              example: Active
            code:
              description: 'Status code'
              type: string
              format: string
              example: active
          type: object
        relationships:
          description: 'Related state'
          properties:
            state:
              description: 'Status state'
              properties:
                data:
                  description: Data
                  properties:
                    type:
                      title: type
                      description: 'State type'
                      type: string
                      format: string
                      example: states
                    id:
                      title: id
                      description: 'State code'
                      type: string
                      format: string
                      example: disabled
                  type: object
              type: object
          type: object
      type: object
    ExternalCreateUserResource:
      title: 'Create External User Resource'
      description: 'Create External User Resource'
      properties:
        email:
          title: email
          description: Email
          type: string
          format: string
          example: test@gmail.com
        client_name:
          title: client_name
          description: 'Client Name'
          type: string
          format: string
          example: Nick
        role_uuid:
          title: role_uuid
          description: 'ID or role'
          type: string
          format: string
          maxLength: 36
          minLength: 36
          example: e27fec1a-9305-4bf7-b3a6-d5e05a3621df
        message:
          title: message
          description: Message
          type: string
          format: string
          example: 'Some my notice'
        business_type:
          title: business_type
          description: 'Business Type'
          type: array
          items:
            type: string
        country:
          title: country
          description: Country
          type: string
          format: string
          example: Hrodna
        product_type:
          title: product_type
          description: 'Product Type'
          type: array
          items:
            type: string
        brands:
          title: brands
          description: Brands
          type: array
          items:
            type: string
        phone:
          title: phone
          description: Phone
          type: string
          format: string
        name:
          title: name
          description: Name
          type: string
          format: string
        subscription_code:
          title: subscription_code
          description: 'Subscription Code'
          type: string
          format: string
        carrotquest_uid:
          title: carrotquest_uid
          description: 'CQ Code'
          type: string
          format: string
        source:
          title: source
          description: Source
          type: string
          format: string
      type: object
    ForbiddenResource:
      title: 'Forbidden Resource'
      description: 'Forbidden Response'
      properties:
        errors:
          description: Errors
          type: array
          items:
            $ref: '#/components/schemas/ForbiddenObject'
      type: object
    FullImportDataResource:
      title: 'Full Import Data Resource'
      description: 'Full Import Data Resource'
      properties:
        type:
          title: type
          description: 'Name of resource'
          type: string
          format: string
          example: imports_data
        id:
          title: id
          description: 'Identifire of the import'
          type: string
          format: string
          example: '8054'
        attributes:
          description: 'Attributes of the import data'
          properties:
            path:
              description: Path
              type: string
            original_name:
              description: 'Original name'
              type: string
            status:
              description: Status
              type: string
            status_message:
              description: 'Status Message'
              type: string
            result:
              description: Result
              type: string
            mapping_id:
              description: 'Mapping ID'
              type: string
            created_at:
              description: 'Created At'
              type: string
            updated_at:
              description: 'Updated At'
              type: string
            timezone:
              description: Timezone
              type: string
          type: object
        relationships:
          description: Relationships
          properties:
            product_types:
              description: 'Product Types'
              properties:
                data:
                  title: data
                  description: Data
                  type: array
                  items:
                    properties:
                      id:
                        title: id
                        description: ID
                        type: string
                        example: 0fe7bafc663b7ae469be1ecf3b926c9c
                      type:
                        title: type
                        description: Type
                        type: string
                        example: product_types
                    type: object
              type: object
          type: object
      type: object
    FullProductResource:
      title: Product
      description: 'Product Response'
    ImportDataResource:
      title: 'Import Data Resource'
      description: 'Import Data Resource'
      properties:
        type:
          title: type
          description: 'Name of resource'
          type: string
          format: string
          example: import_data
        id:
          title: id
          description: 'Identifire of the import'
          type: string
          format: string
          example: '123'
        attributes:
          description: 'Attributes of the import data'
          properties:
            path:
              description: Path
              type: string
            original_name:
              description: 'Original name'
              type: string
            status:
              description: Status
              type: string
            status_message:
              description: 'Status Message'
              type: string
            result:
              description: Result
              type: string
            mapping_id:
              description: 'Mapping ID'
              type: string
            created_at:
              description: 'Created At'
              type: string
            updated_at:
              description: 'Updated At'
              type: string
            timezone:
              description: Timezone
              type: string
          type: object
      type: object
    ImportHotColdDataResource:
      title: 'Import Hot and Cold Resource'
      description: 'Import Hot and Cold Resource'
      properties:
        type:
          title: type
          description: 'Name of resource'
          type: string
          format: string
          example: articles
        id:
          title: id
          description: 'Identifire of the article'
          type: string
          format: string
          example: 0755cd32-cd4e-429d-a77b-323287ab2fcc
        attributes:
          description: 'Attributes of the article'
          properties:
            name:
              description: 'Article name'
              type: string
              format: string
              example: Spirit_35_0519_06
          type: object
        relationships:
          description: 'Collection of article'
          properties:
            collection:
              description: 'Collection of article'
              properties:
                data:
                  description: Data
                  properties:
                    type:
                      title: type
                      description: 'Collection of article'
                      type: string
                      format: string
                      example: collection
                    id:
                      title: id
                      description: 'Identifire of the collection'
                      type: string
                      format: string
                      example: 0755cd32-cd4e-429d-a77b-323287ab2fcc
                  type: object
              type: object
          type: object
      type: object
    InteractiveProductResource:
      title: 'Interactive Product Resource'
      description: 'Interactive Product Resource'
      properties:
        data:
          description: Data
          properties:
            type:
              title: type
              description: 'Type of the resource'
              type: string
              format: string
              example: interactive_products
            id:
              title: id
              description: 'ID of the resource'
              type: string
              format: string
              maxLength: 36
              minLength: 36
              example: 0cbcacb2-147f-ea27-82a8-0242ac130003
            attributes:
              description: Attributes
              properties:
                image:
                  description: 'Product Image URL'
                  type: string
                  format: string
                  example: 'image url'
                width:
                  description: 'Product Width'
                  type: number
                  example: '0.53'
                product_length:
                  description: 'Product Length'
                  type: number
                  example: '2.07'
                pile_height:
                  description: 'Product Pile Height'
                  type: number
                  example: '1'
                product_shape:
                  description: 'Product Shape'
                  type: string
                  format: string
                  example: 'square, round'
              type: object
            relationships:
              description: Relationships
              properties:
                product_types:
                  description: 'Product Types'
                  properties:
                    data:
                      title: data
                      description: Data
                      type: array
                      items:
                        properties:
                          id:
                            title: id
                            description: ID
                            type: string
                            example: 0fe7bafc663b7ae469be1ecf3b926c9c
                          type:
                            title: type
                            description: Type
                            type: string
                            example: product_types
                        type: object
                  type: object
                original_images:
                  description: 'Original Images'
                  properties:
                    data:
                      title: data
                      description: Data
                      type: array
                      items:
                        properties:
                          id:
                            title: id
                            description: ID
                            type: string
                            example: '0'
                          type:
                            title: type
                            description: Type
                            type: string
                            example: original_images
                        type: object
                  type: object
              type: object
          type: object
        included:
          description: Included
          type: array
          items:
            oneOf:
              -
                $ref: '#/components/schemas/ProductTypeObject'
              -
                $ref: '#/components/schemas/InteractiveOriginalImageObject'
      type: object
    InteractiveRoomResource:
      title: 'Interactive Room Resource'
      description: 'Interactive Room Resource'
      properties:
        data:
          description: Data
          properties:
            type:
              title: type
              description: 'Type of the resource'
              type: string
              format: string
              example: rooms
            id:
              title: id
              description: 'ID of the resource'
              type: string
              format: string
              maxLength: 36
              minLength: 36
              example: 3cf389fb-b389-46d2-b625-4abf39b0cc9e
            attributes:
              description: Attributes
              properties:
                image_path:
                  description: 'Background Image URL'
                  type: string
                  format: string
                  example: url
              type: object
            relationships:
              description: Relationships
              properties:
                assets:
                  description: Assets
                  properties:
                    data:
                      title: data
                      description: Data
                      type: array
                      items:
                        properties:
                          id:
                            title: id
                            description: ID
                            type: string
                            example: 0fe7bafc663b7ae469be1ecf3b926c9c
                          type:
                            title: type
                            description: Type
                            type: string
                            example: assets_1
                        type: object
                  type: object
                walls:
                  description: Walls
                  properties:
                    data:
                      title: data
                      description: Data
                      type: array
                      items:
                        properties:
                          id:
                            title: id
                            description: ID
                            type: string
                            example: '0'
                          type:
                            title: type
                            description: Type
                            type: string
                            example: walls
                        type: object
                  type: object
                floors:
                  description: Floors
                  properties:
                    data:
                      title: data
                      description: Data
                      type: array
                      items:
                        properties:
                          id:
                            title: id
                            description: ID
                            type: string
                            example: '0'
                          type:
                            title: type
                            description: Type
                            type: string
                            example: floors
                        type: object
                  type: object
                meta:
                  description: Meta
                  properties:
                    data:
                      title: data
                      description: Data
                      type: array
                      items:
                        properties:
                          id:
                            title: id
                            description: ID
                            type: string
                            example: '0'
                          type:
                            title: type
                            description: Type
                            type: string
                            example: meta
                        type: object
                  type: object
              type: object
          type: object
        included:
          description: Included
          type: array
          items:
            oneOf:
              -
                $ref: '#/components/schemas/InteractiveAssets1Object'
              -
                $ref: '#/components/schemas/InteractiveAssets2Object'
              -
                $ref: '#/components/schemas/InteractiveMetaObject'
              -
                $ref: '#/components/schemas/InteractiveFloorsObject'
              -
                $ref: '#/components/schemas/InteractiveWallsObject'
      type: object
    LocaleResource:
      title: 'Subscription Resource'
      description: 'Subscription Resource'
      properties:
        type:
          title: type
          description: 'Name of resource'
          type: string
          format: string
          example: locales
        id:
          title: code
          description: 'locale code'
          type: string
          format: string
          maxLength: 36
          minLength: 36
          example: ua
        attributes:
          description: 'Attributes of the subscription'
          properties:
            name:
              description: 'Locale name'
              type: string
              format: string
              example: Ukrainian
          type: object
      type: object
    NotFoundResource:
      title: 'Not Found'
      description: 'Not Found Response'
      properties:
        errors:
          description: Errors
          type: array
          items:
            $ref: '#/components/schemas/NotFoundObject'
      type: object
    PaginationPageResource:
      title: 'Pagination Page Resource'
      description: 'Pagination Page Resource'
      properties:
        type:
          title: type
          description: 'Pagination page type'
          type: string
          format: string
          example: pagination-pages
        uuid:
          title: uuid
          description: 'Pagination page uuid'
          type: string
          format: string
          maxLength: 36
          minLength: 36
          example: e27fec1a-9305-4bf7-b3a6-d5e05a3621df
        attributes:
          description: 'Properties of pagination page'
          properties:
            pagination_page:
              description: 'Pagination page number'
              type: integer
              format: int32
          type: object
      type: object
    ProductFilterResource:
      title: 'Product Filter Resource'
      description: 'Product Filter Resource'
      properties:
        type:
          title: type
          description: 'Object type'
          type: string
          format: string
          example: filters
        relationships:
          description: 'Related filters'
          properties:
            color:
              description: 'Filter name'
              properties:
                data:
                  description: Data
                  properties:
                    uuid:
                      title: uuid
                      description: 'ID of the object'
                      type: string
                      format: string
                      maxLength: 36
                      minLength: 36
                      example: e27fec1a-9305-4bf7-b3a6-d5e05a3621df
                    type:
                      description: Type
                      type: string
                      format: string
                      example: colors
                  type: object
              type: object
          type: object
        included:
          description: 'Included filters'
          properties:
            included:
              description: 'Included data for filters'
              properties:
                uuid:
                  title: uuid
                  description: 'ID of the object'
                  type: string
                  format: string
                  maxLength: 36
                  minLength: 36
                  example: e27fec1a-9305-4bf7-b3a6-d5e05a3621df
                type:
                  description: Type
                  type: string
                  format: string
                  example: colors
                attributes:
                  description: 'Attributes of the included'
                  properties:
                    value:
                      description: Value
                      type: string
                      format: string
                      example: black
                    code:
                      description: Code
                      type: string
                      format: string
                      example: color
                    locale:
                      description: Locale
                      type: string
                      format: string
                      example: en
                  type: object
              type: object
          type: object
      type: object
    ProductTypeResource:
      title: 'Product Type'
      description: 'Product Type Response'
      properties:
        type:
          title: type
          description: 'type of product'
          type: string
          format: string
          example: product_type
        uuid:
          title: uuid
          description: 'identifire of product type'
          type: string
          format: string
          maxLength: 36
          minLength: 36
          example: e27fec1a-9305-4bf7-b3a6-d5e05a3621df
        properties:
          description: 'Properties of product type'
          properties:
            propertyName:
              description: 'Property name'
              properties:
                type:
                  description: 'Property type'
                  type: string
                  format: string
                  example: bool
                attributes:
                  description: 'Property attributes'
                  properties:
                    code:
                      description: 'Property Code'
                      format: string
                      example: surface
                    default_value:
                      description: 'Default Value'
                      format: string
                      example: wall
                    is_required:
                      description: 'Is requared flag'
                      format: boolean
                      example: 'true'
                    translation_code:
                      description: 'Translation Code'
                      format: string
                      example: surface
                    translations:
                      description: Translations
                      format: string
                      example: Surface
                    type:
                      description: Type
                      format: string
                  type: object
              type: object
          type: object
      type: object
    ProductTypeSmallResource:
      title: 'Product Type Small'
      description: 'Product Type Small Response'
      properties:
        type:
          title: type
          description: 'Name of resource'
          type: string
          format: string
          example: product_type
        id:
          title: id
          description: 'identifire of product type'
          type: string
          format: string
          maxLength: 36
          minLength: 36
          example: e27fec1a-9305-4bf7-b3a6-d5e05a3621df
        attributes:
          description: 'Attributes of product type'
          properties:
            propertyName:
              description: 'Property name'
              properties:
                type:
                  description: 'Code of product type'
                  type: string
                  format: string
                  example: wallpaper
                name:
                  description: 'Name of product type'
                  type: string
                  format: string
                  example: Wallpaper
              type: object
          type: object
      type: object
    ProviderBrandsSearchResource:
      title: 'Provider Brand Search Resource'
      description: 'Provider Brand Search Resource'
      properties:
        type:
          title: type
          description: 'Object type'
          type: string
          format: string
          example: provider-brands-search
        uuid:
          title: uuid
          description: 'ID of the object'
          type: string
          format: string
          maxLength: 36
          minLength: 36
          example: e27fec1a-9305-4bf7-b3a6-d5e05a3621df
        attributes:
          description: 'Properties of pagination page'
          properties:
            name:
              description: Name
              type: string
              format: string
            image_path:
              description: 'Image path'
              type: string
              format: string
            is_visible:
              description: 'Is visible'
              type: boolean
              format: boolean
              example: true
            sharing_status:
              description: 'Sharing status'
              type: string
              format: string
          type: object
        relationships:
          description: 'Related product'
          properties:
            manufacturer:
              description: 'Manafacturer product'
              properties:
                data:
                  description: Data
                  properties:
                    uuid:
                      title: uuid
                      description: 'ID of the object'
                      type: string
                      format: string
                      maxLength: 36
                      minLength: 36
                      example: e27fec1a-9305-4bf7-b3a6-d5e05a3621df
                    name:
                      description: 'Sharing status'
                      type: string
                      format: string
                  type: object
              type: object
          type: object
      type: object
    ProviderCollectionSearchResource:
      title: 'Provider Collection Search Resource'
      description: 'Provider Collection Search Resource'
      properties:
        type:
          title: type
          description: 'Object type'
          type: string
          format: string
          example: provider-collections-search
        uuid:
          title: uuid
          description: 'ID of the object'
          type: string
          format: string
          maxLength: 36
          minLength: 36
          example: e27fec1a-9305-4bf7-b3a6-d5e05a3621df
        attributes:
          description: 'Properties of pagination page'
          properties:
            name:
              description: Name
              type: string
              format: string
            image_path:
              description: 'Image path'
              type: string
              format: string
            is_visible:
              description: 'Is visible'
              type: boolean
              format: boolean
              example: true
            sharing_status:
              description: 'Sharing status'
              type: string
              format: string
            is_hot_data_updated:
              description: 'Is hot data updated'
              type: boolean
              format: boolean
            date_last_update:
              description: 'Last update data'
              type: string
              format: data
          type: object
        relationships:
          description: 'Related product'
          properties:
            manufacturer:
              description: 'Manafacturer product'
              properties:
                data:
                  description: Data
                  properties:
                    uuid:
                      title: uuid
                      description: 'ID of the object'
                      type: string
                      format: string
                      maxLength: 36
                      minLength: 36
                      example: e27fec1a-9305-4bf7-b3a6-d5e05a3621df
                    name:
                      description: Name
                      type: string
                      format: string
                  type: object
              type: object
          type: object
        brands:
          description: 'Product Brand'
          properties:
            data:
              description: Data
              properties:
                uuid:
                  title: uuid
                  description: 'ID of the object'
                  type: string
                  format: string
                  maxLength: 36
                  minLength: 36
                  example: e27fec1a-9305-4bf7-b3a6-d5e05a3621df
                name:
                  description: Name
                  type: string
[...]
